In [1]:
a=123455667

In [2]:
b=1234567

In [3]:
a+b

124690234

## hello

###G

* item 1
* item

# tghj
## fghj

!["Panda Image"](https://tinypng.com/images/social/website.jpg)

In [4]:
100**10

100000000000000000000

In [5]:
2/3

0.6666666666666666

In [6]:
2//3

0

## Arithematics Ops

`````
* list
+
-
%
*
** power
// integer div

``````

In [7]:
-7 % -4

-3

## Logical Ops
~~~~~
and
or
not
^
--> Xor
~~~~

## Compare

==
<
>
<==
>==
is

In [8]:
2-2 is 0

True

In [9]:
"" is False

False

In [10]:
"" is false

NameError: name 'false' is not defined

In [11]:
0 is False

False

In [12]:
0== False

True

In [13]:
val= input("Enter the value")

Enter the value12

In [18]:
year_str = input("Enter the year")
year=int(year_str)
if year%4==0:
    print("leap")
else:
    print("not leap")

Enter the year1997
not leap

In [21]:
x=0
val=int(input("Enter size"))
while x<val:
    y=0
    while y<val:
        print("*",end="\t")
        y+=1
    x+=1
    print("\n")

Enter size5
*	*	*	*	*

*	*	*	*	*

*	*	*	*	*

*	*	*	*	*

*	*	*	*	*

In [22]:
x=1
val=int(input("Enter size"))
while x<val:
    y=0
    while y<val-x:
        print("*",end="\t")
        y+=1
    x+=1
    print("\n")

Enter size5
*	*	*	*

*	*	*

*	*

*

In [23]:
x=1
val=int(input("Enter size"))
while x<val:
    y=0
    while y<=x:
        print("*",end="\t")
        y+=1
    x+=1
    print("\n")

Enter size5
*	*

*	*	*

*	*	*	*

*	*	*	*	*

In [24]:
x=1
val=int(input("Enter size"))
while x<val:
    y=1
    while y<=x:
        print("*",end="\t")
        y+=1
    x+=1
    print("\n")

Enter size5
*

*	*

*	*	*

*	*	*	*

In [1]:
list(range(1, 3))

[1, 2]

In [2]:
list(range(1, 3))

[1, 2]

In [3]:
1==1

True

In [4]:
list(range(1, 3, 5))

[1]

In [6]:
list(range(6, 1, -1))

[6, 5, 4, 3, 2]

In [7]:
list(range(6, 1))

[]

In [8]:
type(1)

int

In [11]:
l=list()

In [12]:
type(l)

list

In [13]:
l.append(4)

In [14]:
tup =(2, 3, 4)

In [15]:
type(tup)

tuple

In [16]:
tup=(2)

In [17]:
type(tup)

int

In [21]:
tup= (2, 2, 2, 2, 2, 2, 2, 2, )

In [22]:
type(tup)

tuple

In [23]:
name=["shishir", "anuj", "ravi"]
age=[23,20,21]

In [24]:
for item in zip(name, age):
    print(item)

('shishir', 23)
('anuj', 20)
('ravi', 21)

SyntaxError: invalid syntax (<ipython-input-25-1c16c689cae8>, line 1)

In [29]:
l=list(zip(name, age))

In [30]:
sorted(l)

[('anuj', 20), ('ravi', 21), ('shishir', 23)]

In [33]:
def fname(params):
    pass

In [34]:
def first(p1, p2):
    print(p1, p2)

In [35]:
first("Hello", "world")

Hello world

In [37]:
first("hello", p2="world")

hello world

In [38]:
sqr=lambda x:x*x

In [39]:
sqr(2)

4